html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  display: block;
}

#header {
  margin: 0;
  height: 670px;
  overflow: hidden;
  background: #0a0b28;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 30px;
  position: fixed;
}
#header h1 {
  margin-bottom: 5px;
  margin-top: 0px;
}
#header p {
  margin-bottom: 0;
}

.fixed-width {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.container {
  background: #fff;
  top: 670px;
  position: relative;
  z-index: 1;
}

.warning {
  background: rgba(251, 249, 93, 0.5);
  font-size: 16px;
  padding: 15px 0;
  color: #B00101;
}
.warning h5 {
  font-size: 18px;
  color: #B00101;
  display: block;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}
.warning h5:before {
  position: absolute;
  left: -50px;
  font-size: 30px;
}
.warning p {
  font-style: bolder;
  display: block;
  max-width: 880px;
  margin: 5px auto;
}
